#blok {
    height: 72px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #0064EB;
  }
  
  #form {
    position: absolute;
    left: 10%;
    right: 0%;
    top: 20%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 6px;
    width: 500px;
    height: 40px;
    radius: 6px;
  }
  
  #input {
    position: absolute;
    width: 256px;
    height: 24px;
    left: 6.36%;
    right: 39.41%;
    top: calc(50% - 24px/2);
    border:0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    background: #FFFFFF;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 6px;
  }
  
  #github {
    width: 40.98px;
    height: 40px;
    position: relative;
    left: 5%;
    top: 20%;
    bottom: -0.01%;
    background: #0064EB;
  }
  
  #loop {
    width: 14px;
    height: 14px;
    position: absolute;
    z-index:1;
    left: 2%;
    right: 2%;
    top: 30%;
    background: #FFFFFF;
  }
  